@font-face {
    font-family: 'Thryn';
    src: local('Thryn'),
        url(/fonts/thryn.ttf);
}

@font-face {
    font-family: 'Codec';
    src: local('Codec'),
        url(/fonts/Codec.ttf);
}

body {
    font-family: 'Thryn';
	color: #000000;
    font-size: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color:black;
    font-family: 'Codec';
}

a:hover {
    color: #f79862;
    transition: all 0.35s ease;
}

h1 {
    font-size: 200px;
    font-weight: 300;
}

.page {
    width: 100%;
    height: auto;
}

.container {
    margin-left: 61px;
}

.navigation {
    width: 40%;
    display: flex;
    justify-content: space-between;
    padding-top: 56px;
    margin-bottom: 185px;
}

.navigation__link {
    font-size: 16px;
    text-transform: uppercase;
}

.offer {
    margin-bottom: 175px;
}

.offer__title {
    margin-bottom: 20px;
}

.offer__text {
    width: 470px;
    line-height: 28px;
}

.copyright {
    display: flex;
}

.copyright p {
    text-transform: uppercase;
    font-size: 18px;
}

.copyright p:nth-child(1) {
    margin-right: 15px;
}

.cover {
    position: absolute;
    right: 0;
    top: 0;
}