@font-face {
    font-family: 'Thryn';
    src: local('Thryn'),
        url(/fonts/thryn.ttf);
}

@font-face {
    font-family: 'Codec';
    src: local('Codec'),
        url(/fonts/Codec.ttf);
}

body {
    font-family: 'Thryn';
	color: #000000;
    font-size: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 200px;
    font-weight: 300;
}

.page {
    width: 100%;
    height: auto;
}

.container {
    margin-left: 61px;
}

.tabs {
    width: 40%;
    display: flex;
    justify-content: space-between;
    padding-top: 56px;
    margin-bottom: 185px;
}

.radio {
    display: none;
}

.navigation__link {
    font-size: 16px;
    text-transform: uppercase;
}

.panel {
    margin-bottom: 175px;
}

.panel__title {
    margin-bottom: 20px;
}

.panel__text {
    width: 470px;
    line-height: 28px;
}

.copyright {
    display: flex;
}

.copyright p {
    text-transform: uppercase;
    font-size: 18px;
}

.copyright p:nth-child(1) {
    margin-right: 15px;
}

.cover {
    position: absolute;
    right: 0;
    top: 0;
}

.panel {
    display: none;
    animation: fadein .8s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#biography:checked ~ .panels #biography-panel,
#photography:checked ~ .panels #photography-panel,
#contact:checked ~ .panels #contact-panel,
#journal:checked ~ .panels #journal-panel,
#instagram:checked ~ .panels #instagram-panel {
  display: block;
}

#biography:checked ~ .tabs #biography-tab,
#photography:checked ~ .tabs #photography-tab,
#contact:checked ~ .tabs #contact-tab,
#journal:checked ~ .tabs #journal-tab,
#instagram:checked ~ .tabs #instagram-tab{
    color: #f79862;
    transition: all 0.35s ease;
}