/* fonts */

@font-face {
    font-family: 'Thryn';
    src: local('Thryn'),
        url(/fonts/thryn.ttf);
}

@font-face {
    font-family: 'KhmerOS';
    src: local('KhmerOS'),
        url(/fonts/KhmerOS.ttf);
}

/* base */

body {
    font-family: 'Thryn';
	color: #000000;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #f79862;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 200px;
    font-weight: 300;
}

/* main page */

.page {
    width: 100%;
    height: auto;
}

.container {
    margin-left: 60px;
}

.menu {
    width: 40%;
    display: flex;
    justify-content: space-between;
    padding-top: 56px;
    margin-bottom: 165px;
}

.menu-link {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'KhmerOS';
}

.radio {
    display: none;
}

.navigation__link {
    font-size: 16px;
    text-transform: uppercase;
}

.panel {
    margin-bottom: 175px;
    display: none;
    animation: fadein .8s;
}

.panel__title {
    margin-bottom: 20px;
}

.panel__text {
    width: 470px;
    line-height: 28px;
}

.copyright {
    display: flex;
    font-family: 'KhmerOS';
}

.copyright p {
    text-transform: uppercase;
    font-size: 18px;
}

.copyright p:nth-child(1) {
    margin-right: 15px;
}

.cover {
    position: absolute;
    height: 100vh;
    right: 0;
    top: 0;
    animation: fadein .8s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* gallery */

.gallery {
    display: flex;
    justify-content: space-around;
}

.gallery img:hover {
    transform: scale(1.05) translate(0px, -20px);
    transition: all 0.6s ease;
}

/* pages */

#biography:checked ~ .panels #biography-panel,
#photography:checked ~ .panels #photography-panel,
#contact:checked ~ .panels #contact-panel,
#journal:checked ~ .panels #journal-panel,
#instagram:checked ~ .panels #instagram-panel {
  display: block;
}

#photography:checked ~ .panels #photography-panel{
    margin-bottom: 20px;
}

#photography:checked ~ .cover {
    display: none;
}

#photography:checked ~ .menu {
    margin-bottom: 30px;
}

#biography:checked ~ .menu #biography-link,
#photography:checked ~ .menu #photography-link,
#contact:checked ~ .menu #contact-link,
#journal:checked ~ .menu #journal-link,
#instagram:checked ~ .menu #instagram-link{
    color: #f79862;
    transition: all 0.35s ease;
}